@model TeCAS.Dtos.InicioDeSesionDto

@{
    ViewData["Title"] = "Inicio de sesión";
    Layout = "_LayoutInicioDeSesion";
}

<h4>Inicio de sesión</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="form-group">
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
            }

            <button class="btn btn-primary btn-user btn-block">
                <i class="fa fa-key"></i>
                Iniciar sesión
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
